body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #ddd;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    text-align: center;
    color: black;
}

/* Header */
header {
    background: #222;
    color: white;
    padding: 40px 0;
}

header p {
    margin-top: 10px;
    text-align: center;
}

nav{
    background-color: var(--primary-color);
    padding: 12px 0;
    text-align: center;
}

ul li{
    list-style: none;
    display: inline;
    padding: 23px;
    font-weight: bolder;
    color: var(--test-color);
}

ul li a{
    color: var(--test-color);
    text-decoration: none;
}

/* About Section */
#about {
    padding: 40px;
    text-align: center;
}
.txt-box {
  text-align: center;
}

/* Skills Section */
#skills ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#skills li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
}

/* Projects Section */
#projects {
    padding: 40px;
    text-align: center;
}
.box {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.project {
    background: white;
    width: 250px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.project img {
    width: 100%;
    border-radius: 10px;
}

/* Resume Button */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    margin: 10px auto;
    width: 200px;
}

/* Contact Section */
#contact {
    padding: 30px;
    text-align: center;
    background: #ddd;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

