html, body {
  height: 100%;
  width: 100%;
  font-family: 'Times New Roman', Times, serif; 
}

.btn{
  width: 64px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 22px;   
  font-weight: bold;
}

.row{
  margin: 8px 0;
}

.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 4px;
}

.text-center{
  text-align: center;
}

.bg-grey{
  background: grey;
}

.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}